{% extends "booky/base.html" %}

{% block title %}Knihy {{ classroom.name }}{% endblock %}
{% block content %}

    <div class="center">
        <h1 class="sub-content-header">{{ classroom.name }}</h1>
        <form class="edit-form" method="POST">{% csrf_token %}
            <table>
            {% for form in formset %}
                <tr>
                    <td><strong class="large-text">{{ form.instance.book.title }}</strong></td>
                    <td>
                    {% for field in form %}
                        <p class="form-item"><label class="middle-align">{{ field.label }}:</label> {{ field|safe }}</p>
                    {% endfor %}
                    </td>
                    <td class="remove-book"><i class="fas fa-times"></i></td>
                </tr>
            {% endfor %}
            </table>
            {{ formset.management_form }}
            <br>
            <input class="btn-style scaled-btn" type="submit" name="Submit" value="Uložiť">
        </form>
    </div>

{% endblock %}
